{
	email {$ACME_EMAIL}
}

api.{$MOCKINGO_BASE_DOMAIN}, *.{$MOCKINGO_BASE_DOMAIN} {
	tls {
		dns route53 {
			hosted_zone_id Z0201401771FCP0UVU1L
			wait_for_route53_sync true
			route53_max_wait 2m
		}
	}

	@metrics path /metrics
	respond @metrics 404

	reverse_proxy mockingo-gateway:9090 {
		header_up Host {host}
	}
}