{
	email {$ACME_EMAIL}
}

{$MOCKINGO_GATEWAY_HOST} {
	tls {
		dns route53 {
			wait_for_route53_sync true
			route53_max_wait 2m
		}
	}

	@data_plane path /v1/connect /internal/* /health/live /health/ready
	handle @data_plane {
		reverse_proxy mockingo-gateway:9090 {
			header_up Host {host}
		}
	}
	handle {
		respond 404
	}
}

*.{$MOCKINGO_BASE_DOMAIN} {
	tls {
		dns route53 {
			wait_for_route53_sync true
			route53_max_wait 2m
		}
	}
	reverse_proxy mockingo-gateway:9090 {
		header_up Host {host}
	}
}
